.DS_Store
Owlmetry.xcodeproj/project.xcworkspace/xcuserdata/jason.xcuserdatad/UserInterfaceState.xcuserstate
Owlmetry.xcodeproj/xcuserdata/jason.xcuserdatad/xcschemes/xcschememanagement.plist
build
Owlmetry/OwlmetrySecrets.swift
